[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = [
  "npm install --prefix server",
  "npm install --prefix client"
]

[phases.build]
cmds = [
  "npm run build --prefix client"
]

[start]
cmd = "node server/index.js"
